#client{
  background-color: lightgreen;
  color: whitesmoke;
  width: 600px;
  min-height: 300px;
}

#device{
  border-radius: 5px;
  background-color: lightskyblue;
  color: darkred;
  margin: 30px;
}